body{
    margin: 0;
    padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600;700&family=Coming+Soon&family=Heebo:wght@300;400;500;600;700;800&family=Lilita+One&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat&family=Outfit:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&family=REM:wght@400;500;600&family=Silkscreen&display=swap');


.navbarDua{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
}

.navbarDua .wrapperNavbar2{
    /* background-color: blueviolet; */
    /* background-color: white; */
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarDua .wrapperNavbar2 .satu{
    display: flex;
}
.navbarDua .wrapperNavbar2 .satu img{
    width: 120px;
    height: 35px;
    /* background-color: red; */
    margin-top: 11px;
}
.navbarDua .wrapperNavbar2 .satu ul{
    display: flex;
    align-items: center;
    list-style: none;
    
    color: none;

    /* background-color: aqua; */
}
.navbarDua .wrapperNavbar2 .satu ul li a{
    text-decoration: none;

}
.navbarDua .wrapperNavbar2 .satu ul .r {
    margin-left: 25px;
    /* background-color: aqua; */
}
.navbarDua .wrapperNavbar2 .satu ul .r a {
   color: rgba(0, 0, 0, 0.5);
   font-weight: 500;
   font-size: 17px;
   padding-left: 10px;
   padding-right: 10px;
   font-family: 'Poppins', sans-serif;
   transition: 0.5s;
}
.navbarDua .wrapperNavbar2 .satu ul .r a:hover{
   color: rgba(0, 0, 0, 0.5);
   font-weight: 500;
   font-size: 17px;
   background-color: rgb(231, 228, 228);
 
   transform: rotate(90deg);
   padding: 5px 10px;
   border-radius: 30px;
}
.navbarDua .wrapperNavbar2 .satu ul .t {
    margin-left:4px;
    /* background-color: aqua; */
    width: fit-content;
    /* width: 100px; */
}
.navbarDua .wrapperNavbar2 .satu ul .t a {
    margin-left: -10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    /* background-color: aqua; */
    /* height: 40px; */
    /* position:absolute; */
    display: block;
}
.navbarDua .wrapperNavbar2 .satu ul .t .home:hover {
   /* transform: rotate(95deg); */
   /* background-color: red; */
   /* ba */
   /* animation: aa 1s ease 1; */
}


@keyframes aa {
    from{
        position: relative;
       top: 60px;
    }to{
        top: o;
    }
    
}
.navbarDua .wrapperNavbar2 .dua{
    /* background-color: purple; */
    width: 205px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbarDua .wrapperNavbar2 .dua button{
    width: fit-content;
    height: fit-content;
    border: none;
    /* background-color: tan; */
    padding: 8px 21px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}
.navbarDua .wrapperNavbar2 .dua .login{
    background-color: #7B1FA1;
    color: white;
    transition: 0.5s;
}
.navbarDua .wrapperNavbar2 .dua .login:hover{
    background-color:#5c2175;
    color: white;
    box-shadow: 0px 2px 3px black ;
}
.navbarDua .wrapperNavbar2 .dua .sign{
    border: 1px solid  #7B1FA1;
    color: #7B1FA1;
    background-color: white;
}
/* .navbarDua .wrapperNavbar2 .dua .sign:hover{
    border: 1px solid  #7B1FA1;
    color: #7B1FA1;
    background-color: whitesmoke;
} */